{% extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        <h6>Bonjour {{ app.user.username }} - {{ app.user.email }}</h6>
        <h1>Ajouter un article</h1>

        {{ form(form) }}

    </div>
{% endblock %}
