{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
    <div class="jumbotron">
        <h1>Tout les {{ controller_name }}! </h1>

    </div>

    </div>
    <div class="row">
        <ul>
            {% for art in article %}
                <div class="col-3" style="width: 18rem;">
                    <img  src="{{ art.image}}" alt="image">
                    <h5>{{ art.title }}</h5>
                    <a href="{{ path('article-detail', {'article': art.id}) }}" class="btn btn-primary">Détail article</a>
                </div>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
