<header>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"> <img alt="logo" src="http://cpena.rosselcdn.net/sites/all/themes/enabootstrap_cp/images/logo-cp-main.svg" class="" style="height: 60px; position: center;vertical-align: middle;">
        </div>
        <div class="col-md-4"></div>

    </div>


</header>